<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
{% block extra_meta %}
    <meta name="author" content="TutorCruncher">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{% endblock %}
    <title>{{ title }}</title>
{% load static %}
  {% block css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  {% endblock %}
  </head>
  <body>
  <div class="container" role="main">
{% block body %}{% endblock %}
  </div>
{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
{% endblock %}
  </body>
</html>
